{% extends "base.html" %}

{% block content %}
    <form method="POST" class="form">
        <h2>Find Book</h2>
        <br>
        <input type="text" name="author" value="Author">
        <br>
        <input type="submit" value="Find">
    </form>

    {% if books %}
        <ul>
            {% for book in books %}
                <div class="book_container">
                    <p><b>ID:</b> {{book[0]}}</p>
                    <p><b>Name:</b> {{book[1]}}</p>
                    <p><b>Author:</b> {{book[2]}}</p>
                </div> 
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}